.visa-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping of items to avoid overlap */
  height: 100vh;
  
  background-color: #e0f0ff;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 100px;  /* Reduced height */
  width: 120px;   /* Reduced width */
  margin: 10px;   /* Adds space between cards */
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
  color: #003580;
  font-size: 14px; /* Smaller font size */
}

p {
  color: #555;
  font-size: 12px; /* Smaller text */
}

.visa-btn {
  background-color: #003580;
  color: #fff;
  border: none;
  padding: 5px 10px; /* Smaller button padding */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.visa-btn:hover {
  background-color: #0056b3;
}
