.visa-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #e0f0ff;
    text-align: center;
  }
  
  h1 {
    color: #003580;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    color: #003580;
    margin-bottom: 30px;
  }
  
  .visa-btn {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #003580;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .visa-btn:hover {
    background-color: #00204d;
  }
  