.visa-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #e0f0ff;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #003580;
  }
  
  p {
    color: #555;
  }
  
  .visa-btn {
    background-color: #003580;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .visa-btn:hover {
    background-color: #0056b3;
  }
  